body{
    text-align: center;

}
.main{
    border: 2px solid black;
    width: 310px;
    margin: 0, auto;
    height: 140px;
    border-radius: 5px;
    background-color:#DCDCDC;
}

.screen{
    width: 94%;
    margin: 5px;
    border-radius: 5px;
}
.btn{
    width: 70px;
    margin: 2px;
    background-color: black;
    color: white;
    border-radius: 5px;
    
}
.btnc{
    background-color:#FF1493;
    width: 70px;
    margin: 2px;
    color: white;
    border-radius: 5px;

}
.scrin{
    background-color:#ced8e2 ;
}